<a href="https://colab.research.google.com/github/arjunsingh-rana/PHYTHON-CODES/blob/main/lab5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
str_1="welcome to python"
list_1= [i for i in str_1]
list_1
list_2 =[i for i in range(20)]
list_2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
list_3 = [i for i in range(20) if i%2 ==0]
list_3

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
list_1 =[i for i in range(101) if i%2!=0]
list_1

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

immutability of the strings

In [ ]:
str_1 ="hello"
str_2 = "world"
str_1 = str_1 + str_2
print(str_1)

helloworld

In [ ]:
str_1 = "hello"
print(id(str_1))
str_2 = "world"
print(id(str_2))
str_1 = str_1+ str_2
print(str_1)
print(id(str_1))

133283795822960
133282950157552
helloworld
133282951374512

In [ ]:
1 a ={1,2,3,4,5,}
2 for i in enumerate(a):
print(i)



'''
b={'sapid' : 500123223
  "deptt"  : "socs"
   "university": UPES"}'''

SyntaxError: invalid syntax (<ipython-input-42-535088109ebe>, line 1)

In [ ]:
a= [1,2,3,4,5,'Madhav']

print(list(a[2:5]))

[3, 4, 5]

In [ ]:
a=(1,2,3,4,5)

print(a[:])

(1, 2, 3, 4, 5)

In [ ]:
str_num = "1 one 2 two 3 three 4 four 5 five 6 six 7 seven"
list_num = [i for i in str_num if i.isdigit()]
list_num

['1', '2', '3', '4', '5', '6', '7']

In [ ]:
#write a program to find the largest element in the list
list_1= {4,938,2344,23,442}
largest_element = max(list_1)
print("the largest element in the list is",largest_element )

the largest element in the list is 2344